.mainProvContainer h1{
    font-size: 40px;
    text-align: center;
    color: white;
  }

.provServices{
    width: 100%;
   }
   
   .provServices div{
     margin: 16px 16px 0;
     width: calc(100% - 32px);
     height: 300px;
   }
   
   .provService1{
     background-image: url("../assets/images/create.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     color: #FFFFFF;
     opacity: 0.8;
   }
   
   .provService1 h3{
     font-size: 50px;
     color: #FFFFFF;
     text-align: center;
     padding-top: 60px;
     line-height: 80px;
     text-shadow: 2px 2px 8px #111;
     font-weight: 900;
     cursor: pointer;
   }
   
   .provService2{
     background-image: url("../assets/images/list.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     color: #FFFFFF;
     opacity: 0.9;
   }
   
   .provService2 h3{
     font-size: 50px;
     color: #FFFFFF;
     text-align: center;
     line-height: 230px;
     text-shadow: 2px 2px 8px #111;
     font-weight: 900;
     padding-top: 35px;
   }
   


   
   @media only screen and (min-width: 1000px){

    .provServices div{
        margin: 16px 16px 0;
        width: calc(50% - 32px);
        height: 300px;
        float: left;
      }
    
      .provService2 h3{
        line-height: 200px;
        padding-top: 0px;
      }
    
      .provService1 h3{
        line-height: 200px;
        padding-top: 0px;
      }
   }
   