section h1 {
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 14px 14px 20px #000;
}

.listsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 30px;
    margin: 15px 10px;
}

.listsImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listsPic {
    max-width: 250px;
    position: relative;
    left: 0;
    margin: 10px 0;
    filter: drop-shadow(-6px 40px 23px rgba(black, 1.5));
    border-radius: 6px;
}

.listsDetails {
    padding: 0 20px 0 20px;
    border-radius: 5px;
    color: #FFFFFF;
}

.listsDetails p{
    font-size: 20px;
 }

.listProfileBtn {
    width: 200px;
    height: 50px;
    background: #F44336;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s;
    font-size: 20px;
    margin-top: 10px;
}

@media only screen and (min-width: 1000px) {
    .listsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        margin: 15px;
    }

    .listsDetails {
        padding: 0 20px 10px 20px;
        border-radius: 5px;
        color: #FFFFFF;
        width: 90%;
    }

    .listsDetails h1{
        text-align: left;
        padding-top: 30px;
    }



    .listProfileBtn {
        margin-top: 0;
    }
}